
ul.list {
	list-style-type:none;
}

/*
#index {
	background-color: #EEFFFF;
}
*/

#index {
	position: relative;
}

#index .fixed {
	position:fixed;
	top:0;
}

#wrapper {
	margin:0;
	padding:0;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	text-align:center;
	background-color: #FFF;
}

#header {

}

#headerLeft {
	float:left;
}

#headerCenter {
	float:left;
}

#headerRight {
	margin-right: 20px;
}

#navi {
	border-top: 1px solid #d2d2d2;
	border-bottom: 3px solid #d2d2d2;
	background-color: #FFF;
	position: relative;
	z-index: 1;
}


#navi ul {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	border-radius: 5px;
}
/*
#navi li a{
	display:block;
	font-weight:bold;
	float:left;
	width:159px;
	height: 40px;
	color: #FFFFFF;
	background:-webkit-linear-gradient(#0066CC,#0099FF,#0066CC);
	text-decoration: none;
	padding-top:13px;
	margin-right: 1px;
}
#navi li a:hover{
	background:-webkit-linear-gradient(#696969,#999999,#696969);

}

#navi li.clicked a{
	background:-webkit-linear-gradient(#696969,#999999,#696969);
}
*/

#navi ul li {
	float: left;
	width: 159px;
	height: 50px;
	margin-right: 1px;
}

#navi li a{
	display: block;
	padding-top:13px;
	height: 40px;
	color:#777;
	text-decoration: none;
}

#navi li a:hover {
	color: #00a0cd;
}

#navi li.clicked a {
	color: #00a0cd;
}

#underBar {
	width: 158px;
	height: 8px;
	position: absolute;
	margin-top: -5.5px;
}

#contents {
	height: 1200px;
	background-color: #FFFFFF;
	font-size: 15px;
	margin-top: 10px;
}

#indeximage {
	margin: 0 auto;
	width: 960px;
	height: 500px;
	overflow: hidden;
	position: relative;
}

#indeximage img {
	top: 0;
	left:0;
	position: absolute;
}


span.largeFont {
	font-size: 32px;
	color:#00a0cd;
}

h2 {
	position: relative;
	color:#4b4b4b;
	text-align: left;
	border-bottom: 3px solid #00a0cd;
}

h2 p {
	position: absolute;
	right: 0;
	top:10px;
	color: #4b4b4b;
	font-size: 12px;
	margin-right: 25px;
}

#memberList {
	margin-left: 30px;
	color:#4b4b4b;
}


dl.member {

	clear: both;
	height: 41px;
	border-bottom: 1px dashed #777;
	width: 780px;
}

.member dt, .member dd{
	float:left;
	width:200px;
	line-height: 30px;
	padding-left: 30px;
	text-align: left;

}

.member dd a {
	display: block;
	font-weight:bold;
	text-decoration: none;
	width:180px;
	color:#FFF;
	background-color: #00a0cd;
	border-radius: 5px;
	text-align: center;
}

.member dd a:hover {
	opacity: 0.4;
}

#top {
	color:#00a0cd;
	margin-top: 40px;
}

#top a:hover {
	color: #FF0000;
}

#footer {
	margin-top: 10px;
	color: #FFFFFF;
	background-color: #00a0cd;
	height: 50px;
}
